<%= turbo_frame_tag membership do %>

  <div id="<%= dom_id membership %>">
    <p>
      <strong>User:</strong>
      <%= membership.user_id %>
    </p>

    <p>
      <strong>Chapter:</strong>
      <%= membership.chapter_id %>
    </p>

    <p>
      <strong>Start date:</strong>
      <%= membership.start_date %>
    </p>

    <p>
      <strong>End date:</strong>
      <%= membership.end_date %>
    </p>

    <div>
      <%= link_to "Edit this membership", edit_membership_path(membership), class: 'btn' %>

      <%= button_to "Destroy this membership", membership, method: :delete, class: 'btn' %>
    </div>
  </div>
<% end %>