<p style="color: green"><%= notice %></p>

<h1>Memberships</h1>

<div id="memberships">

  <%= turbo_stream_from 'memberships' %>
  
  <% @memberships.each do |membership| %>
    <%= render membership %>
    <p>
      <%= link_to "Show this membership", membership %>
    </p>
  <% end %>
</div>

<%# target frame for the new_form %>
<%= turbo_frame_tag Membership.new %>

<%= link_to "New membership", new_membership_path, data: {turbo_frame: dom_id(Membership.new)} %>
